[user]
    name = 
    email = 
[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    line-numbers = true
    side-by-side = false
[merge]
    conflictstyle = zdiff3
[init]
    defaultBranch = main
[github]
    user = 
[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig.work
[include]
    path = ~/.gitconfig.local
